body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1575px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1575px;
}
#u95 {
  position:absolute;
  left:2px;
  top:780px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
